body{
	background-image:url("img/swirl_pattern.png");
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

#container{
	width: 800px;
	margin: 0 auto;
	background-color: #F2F2F2;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.contact{
	text-align: center;
}
.email{
	text-decoration: none;
}
.bullets{
	width:100%;
	margin: 0 auto;
	line-height: 20px;
}
.bullets ol{
	list-style-type: none;
	text-align: left;
	margin: 0 auto;
}
.bullets > span{
	width: 400px;
	padding-left: 50px;
	padding-top: 50px;
}
.position{
	font-weight: bold;
}